.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  // color: $shopapp-title-color;
  cursor: pointer;
}

.password-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}
