<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h3>Insert User</h3>
      <form (ngSubmit)="insertUser()">
        <div class="form-group">
          <label for="full-name">Họ và tên:</label>
          <input type="text" id="full-name"
            name="fullname" class="form-control"
            [(ngModel)]="insertUserDTO.fullname" required>
        </div>

        <div class="form-group mb-3">
          <label for="phoneNumber">Số điện thoại:</label>
          <input type="text" id="phoneNumber"
            name="phone_number" class="form-control col-md-3"
            [(ngModel)]="insertUserDTO.phone_number" required>
        </div>

        <div class="form-group mb-3">
          <label for="address">Địa chỉ:</label>
          <textarea id="address"
            name="address" class="form-control"
            [(ngModel)]="insertUserDTO.address" required></textarea>
        </div>

        <div class="form-group mb-3">
          <label for="password">Mật khẩu:</label>
          <div class="password-wrapper">
            <input type="password" id="password"
              name="password" class="form-control"
              [(ngModel)]="insertUserDTO.password"
              type="{{ passwordFieldType ? 'text' : 'password' }}"
              placeholder="Mật khẩu phải trên 5 ký tự" required>
            <i class="password-toggle fas"
              [ngClass]="passwordFieldType ?'fa-eye' : 'fa-eye-slash'"
              (click)="togglePasswordVisibility()"></i>
          </div>

        </div>

        <div class="form-group mb-3">
          <label for="retype-password">Nhập lại mật khẩu:</label>
          <input type="password" id="retype-password"
            name="retype_password" class="form-control"
            [(ngModel)]="insertUserDTO.retype_password" required>
        </div>

        <div class="form-group mb-3">
          <label for="dateOfBirth">Ngày sinh:</label>
          <input type="date" id="dateOfBirth"
            name="date_of_birth" class="form-control"
            [(ngModel)]="insertUserDTO.date_of_birth" required>
        </div>

        <button type="submit" class="btn btn-primary">Insert</button>
      </form>
    </div>
  </div>
</div>
